<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.konstantin_starikov.samsung.izhhelper">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_izh_helper"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_izh_helper_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IzhHelperGreen"
        android:screenOrientation="portrait">
        <activity android:name=".activities.SetUserPasswordActivity"></activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:theme="@style/Theme.IzhHelperGreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AccountCreationActivity"
            android:theme="@style/Theme.IzhHelper.NoActionBarBlue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EnterSMSCodeActivity"
            android:theme="@style/Theme.IzhHelper.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.LoginWithPhoneNumberActivity"
            android:theme="@style/Theme.IzhHelper.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SuccessfullySentActivity"
            android:theme="@style/Theme.IzhHelper.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SendViolationActivity"
            android:theme="@style/Theme.IzhHelperBlue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PhotofixationActivity"
            android:theme="@style/Theme.IzhHelperBlue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.CarNumberDetectionActivity"
            android:theme="@style/Theme.IzhHelperBlue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ViolationTypeSelectionActivity"
            android:theme="@style/Theme.IzhHelperBlue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PlaceChoiceActivity"
            android:theme="@style/Theme.IzhHelperBlue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.RegistrationActivity"
            android:theme="@style/Theme.IzhHelper.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.IzhHelper.NoActionBar"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>